@PART[KAXelectricprop] // e50 Electric Propeller Engine
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}
@PART[KAXheavyGear] // GT-580 Heavy Gear Assembly
{
    %MODULE[TweakScale]
    {
        type = free
    }
}
@PART[KAXjumpJet] // Jump Jet Engine
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}
@PART[KAXkueyEngine] // KH-1 Kuey Main Rotor
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}
@PART[KAXkueyTailRotor] // NS90 Tail Rotor
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}
@PART[KAXmedCockpit] // C2-B Horizon Cockpit
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 2.5
    }
}
@PART[KAXmedFuselage] // Heavy Structural Fuselage
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 2.5
    }
}
@PART[KAXmedJetFuel] // Heavy Fuselage - Jet Fuel
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 2.5
    }
}
@PART[KAXmedTail] // Heavy Tail Boom
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 2.5
    }
}
@PART[KAXradialprop] // D-25 Radial Engine
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[KAXturboprop] // PT100 Turboprop
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
